:root {
    --font-color: rgba(200, 192, 229, 0.5);
    --font-color-bold: rgba(200, 192, 229, 1);
}

html,
body {
    background-color:  #1a1621;
    color: var(--font-color);
    font-family: Tahoma, Verdana, Geneva, sans-serif;
}

.as-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.as-row {
    display: flex;
}

.schedule {
    gap: 1rem;    
}

.event {
    background-color: rgba(0,0,0,0.25);
    padding: 1rem;
    border-radius: 1rem;
    gap: 0.5rem;
    position: relative;
}

.datebox {
    background-color: rgba(255,255,255,0.15);
    padding: 0.5rem;
    border-radius: 0.5rem;  
}

.date {
    font-size: 200%;
    color: var(--font-color-bold);
}

.host {
    font-size:130%;
    color: var(--font-color-bold);
}

.book {
    font-size: 130%;
    font-weight: bold;
        color: var(--font-color-bold);
        padding-bottom: 0.5rem;
}

.edit {
     position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

