:root {
    --font-color: rgba(200, 192, 229, 0.5);
    --font-color-bold: rgba(200, 192, 229, 1);
}

html,
body {
    background-color:  #1a1621;
    color: var(--font-color);
    font-family: Tahoma, Verdana, Geneva, sans-serif;
}



.schedule {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;    
}

.event {
    background-color: rgba(0,0,0,0.25);
    border-radius: 1rem;
    display: flex;
    gap: 0.5rem;
    position: relative;
}

.datebox {
    background-color: rgba(255,255,255,0.15);
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

.month {
    font-size: 200%;
    color: var(--font-color-bold);
}

.monthday {
    font-size: 100%;
}

.host {
    font-size:130%;
    color: var(--font-color-bold);
}

.bookbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 130%;
    font-weight: bold;
    color: var(--font-color-bold);
    padding-bottom: 0.5rem;
    padding-top: 1rem;
}

.by {
    color: var(--font-color-bold);

}

.edit {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}

.dialog {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;

    background-color: rgb(82, 65, 65);
    border-radius: 1rem;
    box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.5);
    padding: 1rem;
    margin: 1rem;
    z-index: 1;
    max-width: 500px;
}

.dialog.visible {
    display: block;
}

.dialog-close {
    position: absolute;
    top: 0.5rem;
    right: 0.75rem;
    cursor: pointer;
    font-size: 120%;
}

.editform {
    display: flex;
    flex-direction: column;
}
.label {
    color: white;
}

input, select{
    background-color: rgb(251, 245, 161);
    color: rgb(0, 0, 0, .85);
    padding: 0.25rem;
    border-radius: 0.25rem;
    width: 95%;
    font-size: 110%;
}

hr {
    border-top: 1px solid rgba(255,255,255,0.35);
    width:80%;
    margin-top:1rem;
}
